* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 15px;
}

body {
  overflow-x: hidden;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.header {
  width:100%;
  height:4rem;
  position:fixed;
  z-index:99;
  background:white;
  color:black;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.header_img {
  width: 12.6rem;
  height: 4.6rem;
}

@media (max-width: 1280px) {
  .header_img {
    width: 10.6rem;
    height: 3.6rem;
  }
}

.slide_button {
  color: #000;
  position: fixed;
  cursor: pointer;
  top: 1rem;
  left: 91%;
  z-index: 100;
  background: transparent;
  border-left: none;
  border-top: none;
  border-bottom: solid 4px currentColor;
  border-right: solid 4px currentColor;
  width: 1.5rem;
  height: 1.5rem;
  transform-origin: center;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  display: none;
}

@media (max-width: 1280px) {
  .header {
    height: 3rem;
  }

  .slide_button {
    top: 0.5rem;
    left: 90%;
  }
}

.slide_button:hover {
  color: currentColor;
  opacity: 0.6;
}

/* ここからサイドバー */

.r_sidebar_button {
  display:none;
}

.r_sidebar_label {
  position:fixed;
  top:1rem;
  right:1rem;
  width:4rem;
  height:2rem;
  border-radius:2rem;
  background:gray;
  z-index:100;
  cursor:pointer;
  transition:0.2s;
  box-shadow:0 4px 4px -2px #333 inset;
}

@media (max-width: 1280px) {
  .r_sidebar_label {
    width: 3rem;
    height: 1.5rem;
    top: 0.75rem;
    right: 0.5rem;
  }
}

.r_sidebar_label:before {
  content:"";
  position:absolute;
  background:white;
  left:50%;
  width:2rem;
  height:2rem;
  border-radius:2rem;
  transition:0.2s;
  box-shadow:4px 0 4px -2px #333;
}

@media (max-width: 1280px) {
  .r_sidebar_label:before {
    width: 1.5rem;
    height: 1.5rem;
  }
}

input[type="checkbox"]#r_sidebar:checked ~ .r_sidebar_label{
  background:lightgreen;
  transition:0.2s;
}

input[type="checkbox"]#r_sidebar:checked ~ .r_sidebar_label:before{
  left:0;
  transition:0.2s;
}

.r_sidebar_menu {
  position:fixed;
  top:4rem;
  right:-20rem;
  height:calc( 100vh - 3rem);
  width:20rem;
  padding:0.25rem 0.5rem;
  background:#333;
  color:white;
  transition:0.2s;
  overflow:auto;
  z-index:99;
}

@media (max-width: 1280px) {
  .r_sidebar_menu {
    top: 3rem;
    right: -15rem;
    width: 10rem;
  }
}

input[type="checkbox"]#r_sidebar:checked ~ .r_sidebar_menu{
  right:0;
  box-shadow:-2px 0 4px #333;
  transition:0.2s;
}

main {
  margin-top:3rem;
  width: 100%;
  transition: 0.2s;
}

@media (max-width: 1280px) {
  main {
    margin-top: 2rem;
  }
}

/* ここまでサイドバー */

/* ここからメイン部分 */
#main__contents {
  background-color: #f5f0f0;
  border: 1px solid lightgray;
  text-align: center;
  border-radius: 4px;
  padding: 0.7rem;
  width: 100%;
}

.main__inner__before {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
}

.main__inner__after {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

h3 {
  margin-bottom: 0;
}

p {
  margin: 0.5rem;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
  transform-style: preserve-3d;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    margin: 0.3rem;
  }
}

.court {
  color: black;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-top: 1.5rem;
  border-right: 1px solid black;
  width: 20%;
  height: 32rem;
  transform-style: preserve-3d;
  perspective: 66rem;
}

.court-right {
  color: black;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin-top: 1.5rem;
  width: 20%;
  height: 32rem;
  transform-style: preserve-3d;
  perspective: 66rem;
}

.court-round {
  width: 5rem;
  margin: 0 auto 0.2rem;
  font-size: 1rem;
  display: flex;
  grid-gap: 0 .7rem;
  border-radius: 5px;
  background-color: #ffebee;
  color: #333333;
}

.court-round p {
  margin: 0 auto;
  padding: 0 0.3rem 0;
  border-left: 3px solid #f06060;
}

.court-player1,
.court-player2,
.court-player3 {
  display: block;
}

.back,
.back2,
.back3 {
  display: none;
}

.court .court-player1,
.court .back1 {
  position: absolute;
  width: 100%;
  height: 9rem;
  border-bottom: 1px solid black;
}

.court-right .court-player1,
.court-right .back1 {
  position: absolute;
  width: 100%;
  height: 9rem;
  border-bottom: 1px solid black;
}

.court .court-player2,
.court .back2 {
  position: absolute;
  width: 100%;
  height: 10.9rem;
  top: 7rem;
  margin-top: 4.1rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.court-right .court-player2,
.court-right .back2 {
  position: absolute;
  width: 100%;
  height: 10.9rem;
  top: 7rem;
  margin-top: 4.1rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.court .court-player3,
.court .back3 {
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 17.6rem;
  margin-top: 4.4rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.court-right .court-player3,
.court-right .back3 {
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 17.6rem;
  margin-top: 4.4rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.court .back1 {
  padding-top: 0.5rem;
}

.court .back2 {
  padding-top: 1.6rem;
}

.court .back3 {
  padding-top: 1.45rem;
}

.court-right .back1 {
  padding-top: 0.5rem;
}

.court-right .back2 {
  padding-top: 1.6rem;
}

.court-right .back3 {
  padding-top: 1.45rem;
}

.back1 .result-button,
.back1 .remove-button,
.back2 .result-button,
.back2 .remove-button,
.back3 .result-button,
.back3 .remove-button {
  text-align: center;
  border: 2px dotted black;
  border-radius: 0.5rem;
  width: 14.5rem;
  height: 2.6rem;
  font-size: 1.1rem;
  margin: 0.5rem auto 1rem;
  padding: 0.5rem 0;
}

.result-button:hover,
.remove-button:hover {
  opacity: 0.6;
}

.dragged-place {
  text-align: center;
  align-items: center;
  border: 2px dotted darkgoldenrod;
  border-radius: 0.5rem;
  width: 14.5rem;
  height: 2.2rem;
  font-size: 1.1rem;
  margin: 0 auto;
  padding: 0.2rem 0 0.5rem;
}

@media (max-width: 1280px) {
  .back1 .result-button,
  .back2 .result-button,
  .back3 .result-button,
  .back1 .remove-button,
  .back2 .remove-button,
  .back3 .remove-button {
    width: 80%;
    margin: 1rem auto 1rem;
    padding: 0;
    font-size: 1rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 2px dotted black;
  }

  .dragged-place {
    width: 80%;
    height: 1.8rem;
    margin: 0.5rem auto;
    padding: 0;
    font-size: 1rem;
    align-items: center;
  }

  .result-button:hover,
  .remove-button:hover,
  .dragged-place:hover {
    opacity: 0.6;
  }
}

/* 試合追加(灰色)部分 */
.court .court-plus {
  background: lightgray;
  width: 100%;
  height: 9rem;
  border-bottom: 1px solid black;
}

.court-right .court-plus {
  background: lightgray;
  width: 100%;
  height: 9rem;
  border-bottom: 1px solid black;
}

.court .court-plus2 {
  position: absolute;
  background: lightgray;
  width: 100%;
  height: 10.9rem;
  top: 7rem;
  margin-top: 4.1rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.court-right .court-plus2 {
  position: absolute;
  background: lightgray;
  width: 100%;
  height: 10.9rem;
  top: 7rem;
  margin-top: 4.1rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.court .court-plus3 {
  position: absolute;
  background: lightgray;
  width: 100%;
  height: 10rem;
  top: 17.6rem;
  margin-top: 4.4rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.court-right .court-plus3 {
  position: absolute;
  background: lightgray;
  width: 100%;
  height: 10rem;
  top: 17.6rem;
  margin-top: 4.4rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.dli-plus {
  display: inline-block;
  color: #333;
  top: 2.8rem;
  width: 2rem;
  height: 0.2rem;
  background: currentColor;
  border-radius: 0.1rem;
  position: relative;
}

.dli-plus:hover {
  opacity: 0.6;
}

.dli-plus::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.dli-plus::before:hover {
  opacity: 0.6;
}

/* ここまで試合追加(灰色)部分 */

/* 試合追加モーダル部分 */
#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 97;
}

#main__add {
  background: #f5f0f0;
  width: 82%;
  height: 82%;
  margin-top: 2rem;
  padding: 2.6rem;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

#mask.hidden,
#main__add.hidden {
  display: none;
}

#close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
}

.main__player {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.add__name {
  font-size: 1.5rem;
}

.main__center {
  display: block;
  margin-top: -3rem;
}

#vs {
  font-size: 1.5rem;
  margin-top: 6rem;
}

.main__round {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 6.5rem 0 5.5rem;
}

.main__round::after {
    position: absolute;
    right: 1rem;
    width: 0.6rem;
    height: 0.46rem;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.main__round select {
    appearance: none;
    min-width: 5rem;
    padding: .4rem calc(.8rem + 2rem) .4rem .8rem;
    border: 1px solid #cccccc;
    border-radius: 0.2rem;
    background-color: #fff;
    color: #333333;
    font-size: 1rem;
    cursor: pointer;
}

.main__category {
  display: block;
  position: relative;
  margin: -5rem 0 2.5rem;
}

.main__category::after {
  position: absolute;
  right: 1rem;
  width: 0.6rem;
  height: 0.46rem;
  margin-top: 1rem;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.main__category select {
  appearance: none;
  min-width: 5rem;
  padding: .4rem calc(.8rem + 2rem) .4rem .8rem;
  border: 1px solid #cccccc;
  border-radius: 0.2rem;
  background-color: #fff;
  color: #333333;
  font-size: 1rem;
  cursor: pointer;
}

.main__select {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 7.5rem 0 2.5rem;
}

.main__select::after {
    position: absolute;
    right: 1rem;
    width: 0.6rem;
    height: 0.46rem;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.main__select select {
    appearance: none;
    min-width: 4rem;
    padding: .4rem calc(.8rem + 2rem) .4rem .8rem;
    border: 1px solid #cccccc;
    border-radius: 0.2rem;
    background-color: #fff;
    color: #333333;
    font-size: 1rem;
    cursor: pointer;
}

.main__button {
  margin: 8rem 0 0;
}

.main__button button {
  background: white;
  border-radius: 3.3rem;
  border: 0.06rem solid #313131;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15rem;
  margin: 0 auto;
  padding: 0.6rem 1.6rem;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.main__button button:hover {
    background: #313131;
    color: #FFF;
}

.main__button button:after {
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    border-top: 0.2rem solid #313131;
    border-right: 0.2rem solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 1.3rem;
    border-radius: 0.06rem;
    transition: 0.3s ease-in-out;
}

.main__button button:hover:after {
    border-color: #FFF;
}

@media (max-width: 1280px) {
  #main__add {
    width: 90%;
  }

  .main__player {
    align-items: center;
  }

  .add__name {
    font-size: 1.2rem;
  }

  .main__center {
    margin-top: 1rem;
  }

  #vs {
    font-size: 1.2rem;
    margin-top: 4.5rem; 
  }

  .main__round {
    margin: 3rem 0 2rem;
  }

  .main__category {
    margin: -1.5rem;
  }

  .main__select {
    margin: 6.5rem 0 0;
  }

  .main__select select {
    width: 10rem;
  }

  .main__button button {
    padding: 0.5rem 1rem;
  }
}

/* ここまで試合追加モーダル */

/* ここから結果入力モーダル */
#mask2 {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 97;
}

#result__add {
  background: #f5f0f0;
  width: 82%;
  height: 80%;
  margin-top: 2rem;
  padding: 2.6rem;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

#mask2.hidden,
#result__add.hidden {
  display: none;
}

#close2 {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
}

.result__player {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: -3rem;
}

.result__select1 {
  display: block;
  align-items: center;
  position: relative;
  margin: 7.5rem 0 2.5rem;
}

.result__center {
  display: block;
  margin-top: 4.2rem;
}

.result__select2 {
  display: block;
  align-items: center;
  position: relative;
  margin: 10.5rem 0 2.5rem;
}

.result__select2::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 0.6rem;
    height: 0.46rem;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.result__select2 select {
    appearance: none;
    min-width: 5rem;
    padding: .4rem calc(.8rem + 2rem) .4rem .8rem;
    border: 1px solid #cccccc;
    border-radius: 0.2rem;
    background-color: #fff;
    color: #333333;
    font-size: 1rem;
    cursor: pointer;
}

#tiebreak {
  margin: 2rem 0 0;
}

#vs2 {
  font-size: 1.5rem;
  margin-top: 15.5rem;
}

.result__button {
  margin: 6.5rem 0 0;
}

.result__button button {
  background: white;
  border-radius: 3.3rem;
  border: 0.06rem solid #313131;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 15rem;
  padding: 0.6rem 1.6rem;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.result__button button:hover {
    background: #313131;
    color: #FFF;
}

.result__button button:after {
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    border-top: 0.2rem solid #313131;
    border-right: 0.2rem solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 1.3rem;
    border-radius: 0.06rem;
    transition: 0.3s ease-in-out;
}

.result__button button:hover:after {
    border-color: #FFF;
}

@media (max-width: 1280px) {
  #result__add {
    width: 90%;
  }

  .result__player {
    margin-top: -7rem;
    align-items: center;
  }

  .result__name {
    margin-top: 2rem;
  }

  .result__name {
    font-size: 1.2rem;
  }

  .result__center {
    margin-top: 14rem;
  }

  #vs2 {
    font-size: 1.2rem;
    margin-top: 4.5rem; 
  }

  .result__round {
    margin: 3rem 0 2rem;
  }

  .result__category {
    margin: -1.5rem;
  }

  .result__select1 {
    margin: 6.5rem 0 0;
  }

  .result__select1 select {
    width: 10rem;
  }

  .result__select2 {
    margin: 6.5rem 0 0;
  }

  .result__select2 select {
    width: 10rem;
  }

  .result__button {
    margin-top: 6rem;
  }

  .result__button button {
    padding: 0.5rem 1rem;
  }
}

/* ここまで結果入力モーダル */

/* ここから試合消去モーダル */

#mask3 {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 97;
}

#main__remove {
  background: #f5f0f0;
  width: 82%;
  height: 82%;
  margin-top: 2rem;
  padding: 2.6rem;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

#mask3.hidden,
#main__remove.hidden {
  display: none;
}

#close3 {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
}

.remove__player {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 3rem;
}

#vs3 {
  font-size: 1.5rem;
  margin-top: 12rem;
}

.remove__name {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.remove__center {
  display: block; 
}

.remove__select {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 3.5rem 0 2.5rem;
}

.remove__button {
  margin: 2rem 0 0;
}

.remove__button button {
  background: white;
  border-radius: 3.3rem;
  border: 0.06rem solid #313131;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 15rem;
  padding: 0.6rem 1.6rem;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.remove__button button:hover {
    background: #313131;
    color: #FFF;
}

.remove__button button:after {
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    border-top: 0.2rem solid #313131;
    border-right: 0.2rem solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 1.3rem;
    border-radius: 0.06rem;
    transition: 0.3s ease-in-out;
}

.remove__button button:hover:after {
    border-color: #FFF;
}

@media (max-width: 1280px) {
  #main__remove {
    width: 90%;
  }

  .remove__player {
    align-items: center;
  }

  .remove__name {
    font-size: 1.2rem;
  }

  .remove__center {
    margin-top: 1rem;
  }

  #removeBelonging1 {
    margin-top: -3rem;
  }

  #removeBelonging2 {
    margin-top: -3rem;
  }

  #removePlayer1 {
    margin-top: -3rem;
  }

  #removePlayer2 {
    margin-top: -3rem;
  }

  #vs3 {
    font-size: 1.2rem;
    margin-top: 4.5rem; 
  }

  .player__name {
    margin: -5rem;
  }

  .remove__round {
    margin: 3rem 0 2rem;
  }

  .remove__category {
    margin: -1.5rem;
  }

  .remove__select {
    margin: 6.5rem 0 0;
  }

  .remove__select select {
    width: 10rem;
  }

  .remove__button button {
    padding: 0.5rem 1rem;
  }
}

/* ここまで試合消去モーダル */
